body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  color: #333;
}
header {
  background: #0077b6;
  color: white;
  padding: 20px;
  display: flex; /* Create a horizontal flex container */
  justify-content: space-between; /* Distribute items horizontally */
  align-items: center; /* Align items vertically within the header */
}
header h1 {
  margin: 0;
  font-size: 2.5em;
}
header button {
  background-color: black;
  color: white;
  padding: 15px 50px;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
}
#presentation {
  padding: 40px 20px;;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes image to the bottom */
  text-align: center;
  overflow: hidden;
  position: relative;
}
#presentation img {
  display: block;
  width: 100%;
}
#presentation div.text {
  position: absolute;
  bottom: 10%; /* Adjust to position the text */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  font-family: 'Cursive', sans-serif; /* Match the style */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Soft shadow for readability */
  white-space: nowrap;
  width: 80%;
  background-color: rgba(128, 128, 128, 0.8);
  padding: 20px;
  border-radius: 5px;
  max-width: 700px;
  box-sizing: border-box;
  white-space: normal;
  overflow-wrap: break-word;
}
nav {
  background-color: #023e8a;
  text-align: center;
  padding: 10px 0;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}
nav a::after {
  content: '';
  position: absolute;
  height:5px;
  left: 0;
  bottom: 0;
  width: 0;
  background: lightgray;
  transition: width .2s;
}
nav a:hover:after {
  width: 100%;
}
.section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}
.section h2 {
  color: #0077b6;
}
.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.gallery img {
  width: 32%;
  border-radius: 10px;
}
footer {
  background-color: #0077b6;
  color: white;
  text-align: center;
  padding: 20px 10px;
  margin-top: 40px;
}
